#login{
    width: 100px;
    height: 40px;
    background-color: rgb(235, 84, 84);
    color: #ffffff;
    border-radius: 20px; /* torna as bordas redondas*/
    border: none; 
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a{
    color: black !important;
}



#banner{
    height: 700px;
    width: 700px;
}

.texto-banner{
    font-size: 60px;
    font-weight: bolder;
    width: 450px;
}
.caixa-texto{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa-estrutura{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#food{
 color: red;
}

#btn-get{
    width: 100px;
    height: 40px;
    background-color: rgb(235, 84, 84);
    color: #ffffff;
    border-radius: 20px; /* torna as bordas redondas*/
    border: none; 
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 400px;
}

.container-between{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 300px;
}

.container-trio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 150px;
}

.caixatitulo{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
}

.caixa-menu{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    height: 300px;
    gap: 420px;
}

.caixa-menu-texto{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 450px;
}

.titulos-secundario{
    color: red;
    font-weight: 500;
}

.titulos-primario{
    font-weight: bolder;
    font-size: 40px;
}

.sub-titulo{
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.sub-titulo-trio{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sub-texto{
    font-weight: bold;
    font-weight: 500;
}

.trio-texto-primario{
    font-weight: bolder;
    font-size: 20px;
}

.individuo-estrutura{
    display: flex;
    justify-content:center;
    align-items: space-between;
    flex-direction: column;
    text-align: center;
    width: 240px;
}

.imagem-trio{
    width: 247px;
    height: 230px;
}


.individuo-estrutura-pizza{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 240px;
}

.imagem-trio-pizza{
    width: 300px;
    height: 350px;
    border-radius: 10%;
}

.arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    gap: 10px;
}

.side-arrow{
    border-radius:100%;
}