#login{
    width: 100px;
    height: 40px;
    background-color: rgb(235, 84, 84);
    color: #ffffff;
    border-radius: 20px; /* torna as bordas redondas*/
    border: none; 
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a{
    color: black !important;
}






.caixa-estrutura{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.caixa-texto{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-banner{
    font-size: 60px;
    font-weight: bolder;
    width: 450px;
}

#food{
    color: red;
}

.sub-titulo{
    display: flex;
    justify-content:center;
    flex-direction: column;
}

#btn-get{
    width: 100px;
    height: 40px;
    background-color: rgb(235, 84, 84);
    color: #ffffff;
    border-radius: 20px; /* torna as bordas redondas*/
    border: none; 
}

#banner{
    height: 700px;
    width: 700px;
}





.section-between{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 300px;
}

.caixa-titulo{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
}

.titulos-secundario{
    color: red;
    font-weight: 500;
}

.titulos-primario{
    font-weight: bolder;
    font-size: 40px;
}





.trio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 150px;
}

.individuo-estrutura{
    display: flex;
    justify-content:center;
    align-items: space-between;
    flex-direction: column;
    text-align: center;
    width: 240px;
}

.imagem-trio-dim{
    width: 247px;
    height: 230px;
}

.sub-titulo-trio{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.texto-primario-trio{
    font-weight: bolder;
    font-size: 20px;
}

.sub-texto{
    font-weight: bold;
    font-weight: 500;
}






.caixa-menu{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    height: 300px;
    gap: 420px;
}

.caixa-menu-texto{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 450px;
}

.arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    gap: 10px;
}

.side-arrow{
    border-radius:100%;
}






.individuo-estrutura-pizza{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 240px;
}

.imagem-trio-pizza{
    width: 300px;
    height: 350px;
    border-radius: 10%;
}






#cozinheiro{
    height: 700px;
    width: 700px;
}




.caixa-estrutura-fim{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #fff6f2;
    border-radius: 80px;
    gap: 280px;
    margin:  80px;
}

#btn-get-end{
    width: 130px;
    height: 45px;
    background-color: rgb(235, 84, 84);
    color: #ffffff;
    border-radius: 27px;
    border: none; 
}

.arrived{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 170px;
    background-color: rgb(235, 84, 84);
    border-radius: 27px;
    text-align: center;
}

.white-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

#food-crate{
    height: 20px;
    width: 40px;
}

.caixa-imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}